# automon
#git+https://github.com/TheShellLand/automon-core#egg

# prerequisites
requests>=2.25.1
xmltodict>=0.12.0

# flask
Flask>=1.1.2
Flask-Login>=0.5.0
Flask-WTF>=0.14.3
bcrypt>3.1.7

# elasticsearch
elasticsearch>=7.11.0

# neo4j
neo4j-driver>=4.2.1

# slack
slackclient>=2.9.3

# openstack swift
python-keystoneclient>=4.2.0
python-swiftclient>=3.11.0

# splunk
splunk-sdk>=1.6.15

# phantom
pytz>=2021.1

# fix nested asyncio loop
nest-asyncio>=1.5.1

# unit testing
pytest>=6.2.2
pytest-cov>=2.11.1
coverage>=5.4
