opentelemetry-api>=1.4.1
opentelemetry-sdk>=1.4.1
opentelemetry-distro>=0.43b0
opentelemetry-exporter-otlp>=1.22.0
opentelemetry-instrumentation-logging>=0.43b0
# workaround
git+https://github.com/open-telemetry/opentelemetry-python-contrib.git@0.43b0hotfix#subdirectory=instrumentation/opentelemetry-instrumentation-aiohttp-server
