# opentelemetry
#opentelemetry-distro>=0.43b0
#opentelemetry-exporter-otlp>=1.22.0
#opentelemetry-instrumentation-logging>=0.43b0
# workaround
git+https://github.com/open-telemetry/opentelemetry-python-contrib@main#egg?subdirectory=opentelemetry-instrumentation-aiohttp-server
#opentelemetry-exporter-otlp==1.20.0
#opentelemetry-instrumentation-aiohttp-server==0.43b0